MusicPlay/.DS_Store
Pods
Pods
*.xcbkptlist
*.xcuserstate
Podfile.lock
MusicPlay.xcworkspace/xcuserdata
MusicPlay.xcworkspace/xcuserdata
MusicPlay.xcworkspace/xcuserdata
Pods
MusicPlay/Application/.DS_Store
MusicPlay/Application/Assets.xcassets/.DS_Store
